# See https://docs.github.com/articles/about-codeowners for syntax.
# Code owners are automatically requested for review when matching files
# are modified in a pull request.

# Default reviewer for all files
*       @pszyn
